body {
    min-height: 100vh;
    background-color: black;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=1e1623&c2=010101&gt=r&gd=dtt
*/
background: #1E1623;
background: radial-gradient(at center top, #1E1623, #010101);
}

main {

}


.navbarLeft ul {
    padding-left: 0px;
}

.navbarLeft ul li {
    list-style-type: none;
}

/* aligns navbar with rest of site, spacing, matches better to contact button */
@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0px;
        margin-right: 6rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: white;
        
    }
}

/* DESIGN SYSTEM */

.primaryColor-text {
    color: blueviolet;
}

.headerText {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.buttonTextPrimary {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.buttonTextPrimary-smaller {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.subheadingText {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: .08rem;
    color: #8a8a8a;
}

.bodyParagraph {
    font-size: 1.125rem;
    color: white;
}

h1 {
    font-size: 3rem;
    margin: 0;
    background: #F6F6F6;
background: radial-gradient(circle farthest-side at top center, #F6F6F6 0%, #7C7C7C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

h2 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 2.5rem;
    }
}



.landingParagraph {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: white;
}

.navbarContact {
    border: 1px solid white;
    border-radius: 30px;
    padding: .75rem 2rem;
    
}



.downloadResumeButton {
    background-color: blueviolet;
    border-radius: 1rem;
    padding: .75rem 2rem;
    margin: 0px;
}

.downloadResumeButton p {
    margin: 0px;
}

.headNav .row {
    margin-bottom: 1rem;
}

.checkmark {
    color: blueviolet;
}

.projectCard {
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: #1a1323;
}

.projectImageContain {
    height: 200px;
}

.projectImage {
    max-height: 200px;
    border-radius: 1rem;
    overflow:hidden;
}

.sourceButton {
    width: 90%;
    
    border-radius: 1rem;
    border: 1px solid white;
}

.viewButton {
    width: 90%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}




/* ADD MEDIA QUERY TO ADD HAMBURGER MENU TO SMALLEST SCREEN SIZE (BELOW 375 PX) */

/* @media screen and (max-width: 425px) {

    .navbarLeft {
        display:none;
    }

    .navbarLeftMobile {
        display:
    }
} */



/* SITE MARGIN RESPONSIVE */

/* col-md */
@media (min-width: 768px) {
    .headNav {
        max-width: 90%;
    }

    .landingSection {
        max-width: 90%;
    }

    .skillsSection {
        max-width: 90%;
    }

    .projectsSection {
        max-width: 90%;
    }

    .contactSection {
        max-width: 90%;
    }

    .aboutSection {
        max-width: 90%;
    }
}


/* col-lg */
@media (min-width: 992px) {
    .headNav {
        max-width: 70%;
    }

    .landingSection {
        max-width: 70%;
    }

    .skillsSection {
        max-width: 70%;
    }

    .projectsSection {
        max-width: 70%;
    }

    .contactSection {
        max-width: 70%;
    }

    .aboutSection {
        max-width: 70%;
    }
}

.copyButton {
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    width: fit-content;
}




.portrait1 {
    
    border: 3px solid rgb(40, 30, 59);
    transform: scaleX(-1);
    
}
/* when flex-columns turns to flex-md-row */
@media (min-width: 768px) {
    .portrait1 {
        transform: scaleX(1);
    }
}