body {
    background-color: black;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    
}


.navbarLeft ul {
    padding-left: 0px;
}

.navbarLeft ul li {
    list-style-type: none;
}

/* aligns navbar with rest of site, spacing, matches better to contact button */
@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0px;
        margin-right: 6rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: white;
        
    }
}

/* DESIGN SYSTEM */

.headerText {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.buttonTextPrimary {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.subheadingText {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: .08rem;
    color: #8a8a8a;
}

.bodyParagraph {
    font-size: 1.125rem;
    color: white;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
}

h2 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    color: white;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 2.5rem;
    }
}

.landingParagraph {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: white;
}

.navbarContact {
    border: 1px solid white;
    border-radius: 30px;
    padding: .75rem 2rem;
    
}



.downloadResumeButton {
    background-color: blueviolet;
    border-radius: 30px;
    padding: .75rem 2rem;
    margin: 0px;
}

.downloadResumeButton p {
    margin: 0px;
}

.headNav .row {
    margin-bottom: 1rem;
}

.projectCard {
    border-radius: 1rem;
    background-color: #0B031C;
}

.projectImage {
    border-radius: 1rem;
}




/* ADD MEDIA QUERY TO ADD HAMBURGER MENU TO SMALLEST SCREEN SIZE (BELOW 375 PX) */

/* @media screen and (max-width: 425px) {

    .navbarLeft {
        display:none;
    }

    .navbarLeftMobile {
        display:
    }
} */



/* SITE MARGIN RESPONSIVE */

/* col-md */
@media (min-width: 768px) {
    .headNav {
        max-width: 90%;
    }

    .landingSection {
        max-width: 90%;
    }

    .skillsSection {
        max-width: 90%;
    }

    .projectsSection {
        max-width: 90%;
    }
}


/* col-lg */
@media (min-width: 992px) {
    .headNav {
        max-width: 70%;
    }

    .landingSection {
        max-width: 70%;
    }

    .skillsSection {
        max-width: 70%;
    }

    .projectsSection {
        max-width: 70%;
    }
}




.portrait1 {
    transform: scaleX(-1);
}
/* when flex-columns turns to flex-md-row */
@media (min-width: 768px) {
    .portrait1 {
        transform: scaleX(1);
    }
}